/*variables*/
$color-titulo-background:#30376f;

body{
    background-color: #a2a8d6;
    min-height: 100vh;
    position: relative;
    padding-bottom: 75px;
}
/*NAV*/
.navbar{
    background-color: #30376f;
    .nav-item{
        font-size: 20px;
    }
}

.imgindex{
    height: 700px;
}

/*BODY CARDS*/
.card-body{
    transition: all 0.3s;
    &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    .card-title{
        color: $color-titulo-background;
        font-family: 'Cormorant SC', serif;
    }
}



/*FOOTER*/
.footer{
    background-color: $color-titulo-background;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* MEDIAS para poner en columna el nav y separar las cards cuando estan en columnas*/
@media only screen and (max-device-width: 768px){
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 0 5px 0;
    }
    .card{
        margin: 5px 0;
    }

}

